# mkdocs 中文数字档案馆模板

功能：

- 自动整理文件名
- 对于 pdf， txt，doc 等文件通过 ai 自动生成摘要分类、下载页面
- 自动生成目录
- 自动建立 mkdocs 站点
- 生成可供检索的目录

## 目录

{{TABLE_OF_CONTENTS}}

## LICENSE

本项目为展示存档与资料库的模板，所有内容均来自互联网，仅供学习和研究使用。版权属于原作者。
